<header class="row cmm-bg-project-primary justify-content-center mx-auto w-100 pt-3 px-3 pb-3">

    <!-- Espacio para publicidad, si la hay -->
    <ng-container></ng-container>

    <div class="col-12" style="max-width: 1500px;">
        <div class="row w-100 g-0 justify-content-center justify-content-lg-between align-items-center">

            <!-- Nivel 1 en tamaño grande -->

            <!-- Div para hacer espacio -->
            <div class="col-4 d-none d-lg-flex"></div>

            <!-- Div del título -->
            <div class="col-lg-4 d-flex justify-content-center">

              <img [src]="logos.nature" lazy alt="" class="cursor-pointer" style="max-width: 200px;max-height: 70px;"
                    routerLink="/home">

            </div>

            <!-- input y botones en tamaño grande -->
            <div class="col-4 d-none d-lg-flex align-items-center gap-2">

                <div class="" style="max-width: 200px;">
                    <cmm-cmp-i-text label="Buscar" subscriptSizing="dynamic">
                        <mat-icon>search</mat-icon>
                    </cmm-cmp-i-text>
                </div>

                <img [src]="icons.person" alt="" class="header_icon cursor-pointer" lazy>

                <img class="header_icon cursor-pointer" routerLink="products/overview" [src]="icons.kart" alt="" lazy>

            </div>

            <!-- Nivel de abajo tamaño grande -->

            <div class="col-12 d-none d-lg-flex justify-content-center gap-5 mt-4 mb-3">

                <div *ngFor="let item of menuLinks" class="dropdown" routerLink="/products">

                    <a class="cmm-txt-thin-bold text-white cursor-pointer">{{item.header}}</a>

                    <cmp-main-dropdown-menu class="dropdown_menu shadowBorder"
                        [data]="item.items"></cmp-main-dropdown-menu>
                </div>

            </div>

            <!-- Nivel 2 (Tamaño pequeño) -->
            <div class="col-12 mt-3 d-flex d-lg-none justify-content-center">

                <div class="row justify-content-between w-100">

                    <!-- Botón de menú -->
                    <div class="col-2 d-flex d-lg-none align-items-center justify-content-center">

                        <mat-icon class="cursor-pointer text-white" (click)="toggleSidenav()">menu</mat-icon>

                    </div>

                    <!-- Buscador y botones de navegación -->
                    <div class="col-10 d-flex justify-content-end gap-3 align-items-center">

                        <!-- <cmm-cmp-i-text subscriptSizing="dynamic" style="max-width: 50%;"></cmm-cmp-i-text> -->
                        <mat-icon class="text-white">search</mat-icon>

                        <div class="d-flex align-items-center">

                            <img class="header_icon" [src]="icons.person" alt="">
                            <img class="header_icon" [src]="icons.kart" alt="">

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</header>
