<!-- Imagen principal -->
<div class="bg-white d-flex flex-column align-items-center">

    <section class="row g-0 justify-content-center align-items-center w-100 mx-auto home_image_bg"
        [style.background-image]="'url(' + images.girl_makingup3 +')'">

        <div class="w-100 d-flex flex-column align-items-center">

            <h1 class="text-white cmm-txt-thin-bold text-center">Tonos perfectos <br> para cada piel</h1>

            <p class="text-white fs-16 mt-3 mb-5">Formulaciones ricas en antioxidantes de colores vivos</p>

            <cmp-cmm-new-button class="w-100"
                [config]="{customBorderRadius: '0px',customBg: 'bg-white',customHeight: '56px'}"
                style="max-width: 250px;">
                <span class="text-black cmm-txt-thin-bold fs-20">VER TODO</span>
            </cmp-cmm-new-button>

        </div>


    </section>

    <video src=""></video>

    <!-- Marcas -->
    <section class="row mx-auto g-0 w-100 my-5">

        <p class="cmm-txt-thin-bold text-center fs-18">Las mejores marcas para cuidar tu piel y rostro</p>

        <cmp-core-brands [brandImages]="brandImages"></cmp-core-brands>

    </section>

    <!-- Publicidad principal -->
    <section class="row w-100 g-0 my-5" style="padding-left: 75px;padding-right: 75px;">

        <!-- Ad principal tamaño grande -->
        <div class="col-12 position-relative main_ad_bg d-none d-lg-flex flex-column"
            [style.background-image]="'url(' + images.girl_makingup +')'">

            <!-- Ad principal -->
            <div class="position-absolute main_ad">

                <img [src]="images.product1" alt="" class="w-100">

                <div class="d-flex align-items-start justify-content-center flex-column">

                    <h3 class="mb-3 cmm-txt-thin-bold">Dior vibrant lipstick</h3>

                    <p class="mb-5 fs-20">Colores esenciales y sets únicos como tú</p>

                    <cmp-cmm-new-button [config]="{customBorderRadius: '0px',customHeight: '56px'}">
                        <span class="text-white cmm-txt-thin-bold fs-20 px-3">COMPRAR</span>
                    </cmp-cmm-new-button>

                </div>

            </div>

        </div>

        <!-- Ad principal tamaño pequeño -->
        <div class="col-12 d-flex d-lg-none">

            <!-- Ad principal -->
            <div class="">

                <img [src]="images.product1" alt="" class="w-100">

                <div class="d-flex align-items-start justify-content-center flex-column">

                    <h3 class="mb-3 cmm-txt-thin-bold">Dior vibrant lipstick</h3>

                    <p class="mb-5 fs-20">Colores esenciales y sets únicos como tú</p>

                    <cmp-cmm-new-button [config]="{customBorderRadius: '0px',customHeight: '56px'}">
                        <span class="text-white cmm-txt-thin-bold fs-20 px-3">COMPRAR</span>
                    </cmp-cmm-new-button>

                </div>

            </div>

        </div>

    </section>

    <!-- Productos principales -->
    <section class="row g-0 w-100 my-5">

        <div *ngFor="let item of popularProducts" class="col-md-6 col-lg-4 d-flex justify-content-center mb-3">

            <cmp-cmm-product-card class="w-100 d-flex justify-content-center" [data]="item"
                [config]="{colorBoxRounded: true, colorBoxBorder: false}"></cmp-cmm-product-card>
        </div>

    </section>

    <!-- Imagen co parallax -->
    <div class="parallax_bg w-100 d-flex align-items-center justify-content-center my-5"
        [style.background-image]="'url(' + images.makeup_bg +')'" style="height: 250px;max-width: 1500px;">

        <div class="d-flex align-items-center justify-content-center flex-column">

            <p class="text-white fs-24">Disfruta de las ofertas con nuestros</p>

            <h3 class="text-white cmm-txt-thin-bold fs-40 mb-3">Makeup sets</h3>

            <cmp-cmm-new-button class="w-100"
                [config]="{customBorderRadius: '0px',customBg: 'cmm-bg-project-tertiary',customHeight: '56px'}"
                style="max-width: 250px;">
                <span class="text-white cmm-txt-thin-bold fs-20">VER SETS</span>
            </cmp-cmm-new-button>

        </div>

    </div>

    <section class="my-5 w-100 row">

        <div class="col-lg-8 mb-3 mb-lg-0">

            <img [src]="images.girl_makingup2" class="w-100" alt="">

        </div>

        <div class="col-lg-4 d-flex align-items-center justify-content-center">

            <div class="">

                <h3 class="mb-3 cmm-txt-thin-bold">Dior vibrant lipstick</h3>

                <p class="mb-5">Colores esenciales y sets únicos como tú</p>

                <cmp-cmm-new-button [config]="{customBorderRadius: '0px',customHeight: '56px'}">
                    <span class="text-white cmm-txt-thin-bold fs-20">COMPRAR</span>
                </cmp-cmm-new-button>

            </div>

        </div>

    </section>

</div>