<div class="row w-100 g-0 h-100 justify-content-center bg-white overflow-hidden">

    <!-- Detalle de producto -->
    <cmp-cmm-product-detail class="my-5 bg-white w-100" [product]="product"
        [config]="{button: {customBorderRadius: '10px', customHeight: '48px'}, colorBox: {colorBoxBorder: true, colorBoxRounded: true}}"></cmp-cmm-product-detail>

    <!-- otros productos -->
    <section class="col-12 my-5 d-flex justify-content-center flex-column align-items-center">

        <h4 class="text-center">También podría interesarte</h4>

        <cmp-cmm-new-carousel class="w-100" carouselId="products_detail_carousel">

          <!-- Elementos del carrusel en tamaño pequeño -->
          <div *ngFor="let item of carouselProducts, index as i" class="carousel_item">

              <div class="w-100 h-100 p-0 d-flex justify-content-center align-items-center" style="gap: 2rem;">

                  <cmp-cmm-product-card [data]="item" [config]="{colorBoxRounded: true}"
                      routerLink="/products/detail"></cmp-cmm-product-card>

              </div>

          </div>

        </cmp-cmm-new-carousel>

    </section>

    <!-- otros productos -->
    <section class="col-12 d-flex flex-column justify-content-center align-items-center my-5">

        <h3 class="my-5">CUIDA TU PIEL Y LUCE PERFECTA CON ESTOS SETS</h3>

        <div class="row justify-content-center align-items-center mx-auto w-100 my-5">

            <div *ngFor="let item of moreProducts" class="col-sm-6 col-md-4 col-xl-3 mb-3 mb-sm-0">
                <cmp-products-presentation-card [product]="item" class="d-flex justify-content-center"
                    routerLink="/products"></cmp-products-presentation-card>
            </div>

        </div>


    </section>

    <cmp-cmm-new-button class="w-100 mt-5" style="max-width: 400px;margin-bottom: 200px;"
        [config]="{customBorderRadius: '0px', customHeight: '48px'}">
        <span class="text-white fs-20" routerLink="/products">VER TODO</span>
    </cmp-cmm-new-button>

</div>
